pandas==2.2.2
notebook==6.5.5
ipykernel==6.17.1
matplotlib==3.10.0
opencv-python==4.11.0.86
gensim==4.3.3
nltk==3.9.1
tensorflow==2.19.0
scikit-learn==1.6.1
sentence-transformers==3.4.1
imbalanced-learn==0.13.0
joblib==1.4.2
python-dotenv
pytest
tf-keras
-e .